<header>
    <div class="container" >
        <a class="logo" routerLink="/" style="font-size:large;"><i class="material-icons">home</i>{{appTitle}}</a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <!-- <li><a (click)="logout()">Logout</a></li> -->
            </ul>
        </nav>
    </div>
</header>
<div>
    <nav mat-tab-nav-bar mat-align-tabs="end" backgroundColor="primary">
        <a mat-tab-link
        routerLink="/details"
        routerLinkActive #ccc2="routerLinkActive"
        [active]="ccc2.isActive">
        Logout
     </a>
      </nav>
      <nav mat-tab-nav-bar>
        <a mat-align-tabs="start">
            <mat-tab-group>
                <mat-tab label="Module1"><a routerLink="/people">People</a></mat-tab>
                <mat-tab label="Module2"><a routerLink="/contactlist">Contact</a></mat-tab>
                <mat-tab label="Module3"><a routerLink="/crud">Jogging</a></mat-tab>
                <!-- <mat-tab label="Logout" mat-align-tab="end"><a routerLink="/details">Logout</a></mat-tab> -->
              </mat-tab-group>
        </a>
        <a mat-tab-link
           routerLink="/people"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
           People
        </a>
        <a mat-tab-link
           routerLink="/contactlist"
           routerLinkActive #bbb="routerLinkActive"
           [active]="bbb.isActive">
           Contact
        </a>
        <a mat-tab-link
           routerLink="/crud"
           routerLinkActive #ccc="routerLinkActive"
           [active]="ccc.isActive">
           Jogging
        </a>
      </nav>
</div>