<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ng7</span>
    </mat-toolbar>
    <ng-content></ng-content> -->
    <!-- Add Content Here -->
  <!-- </mat-sidenav-content>
</mat-sidenav-container> -->



<!--Toolbar-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>File Uploader</h1>
    <span class="menu-spacer"></span>&nbsp;&nbsp;&nbsp;
    <div>
      <a [routerLink]="'/people'"><mat-icon style="color: aliceblue;">home</mat-icon></a>&nbsp;&nbsp;
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">File Uploader helps you to upload and retrieve files esily.</span>
  </mat-toolbar-row>
</mat-toolbar>

<!--Sidenav-->
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <div>
        <a mat-list-item [routerLink]="'/people'" (click)="sidenav.toggle()"><mat-icon>home</mat-icon>Home</a>
      </div>
      <div>
        <a mat-list-item [routerLink]="'/people'" (click)="sidenav.toggle()"><mat-icon>file_copy</mat-icon>Files</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div style="height: 88vh;">
      <ng-content></ng-content>
    </div> -->
    <div id="container">
      <app-sidebar></app-sidebar>
    
      <div id="content">
        <ng-content></ng-content>
        <table class="table table-hover">
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Path</th>
              <th>Catagory</th> 
          </tr>
          <tr>
            <td><button class="btn btn-primary">get</button></td>
            <td><button class="btn btn-primary">post</button></td>
            <td><button class="btn btn-danger">put</button></td>
            <td><button class="btn btn-danger">delete</button></td>
          </tr>
          <tr>
            <td><button class="btn btn-danger">get</button></td>
            <td><button class="btn btn-danger">post</button></td>
            <td><button class="btn btn-primary">put</button></td>
            <td><button class="btn btn-primary">delete</button></td>
          </tr>
          <tr>
            <td><button class="btn btn-Success">get</button></td>
            <td><button class="btn btn-primary">post</button></td>
            <td><button class="btn btn-Warning">put</button></td>
            <td><button class="btn btn-danger">delete</button></td>
          </tr>
        </table>
        <!-- <div><p><br></p></div> -->
        <hr>
        <hr>
        <div><app-message></app-message></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>