<!-- <div *ngIf="loading" class="spinner-border spinner-border-sm"></div> -->

<div class="card mt-4">
  <h4 class="card-header">You're logged in with Angular 9 & JWT!!</h4>
  <div class="card-body">
      <h6>Users from secure api end point</h6>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="users">
          <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
      </ul>
      <div *ngIf="users">      
        <ul *ngFor="let user of users" style="align-content: center;">
          <li><strong>Username:</strong> {{ user.firstName }}</li>
          <li><strong>Email:</strong> {{ user.lastName }}@gmail.com</li>
          <li><strong>Phone:</strong> {{ user.id }}</li>
        </ul>
      <button class="btn btn-primary"><a class="nav-item nav-link" (click)="logout()">Logout</a></button>        
      </div>
  </div>
</div>